VBox {
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.map01{
    -fx-background-image: url("../images/Map2.png");
}
.map02{
    -fx-background-image: url("../images/Map1.png");
}

.health-bar{
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
}
.hp01{
    -fx-accent: yellowgreen;
}
.hp02{
    -fx-accent: orange;
}
#canvas1{
    -fx-background-color: red;
}

#canvas2{
    -fx-background-color: blue;
}

